{% extends "app.twig" %}
{% block content %}

	<ts-card width="800px">
		<div class="alert">
			<h1 slot="title">Thank you!</h1>
			<p>Your subbmission has been sent.</p>
		</div>
	</ts-card>

{% endblock %}
